@import 'base'

/**
 * Events
 */
.change-desktop {filter:none}  // @see dashboard.desktop
.search {filter:none}  // @see dashboard dashboard.desktop

/**
 * Identifiers
 */
.dispatch-alerts {filter:none}  // @see dashboard.module.dispatches
.id-alert {filter:none}

/**
 * Options
 */
.button-edit {filter:none}  // @see dashboard.module.operations

.gz-dashboard {
    table.gz-options-toggleable tr {  // @see dashboard.module.builder
        td:last-child * {
            visibility: hidden;
        }

        &:hover td:last-child * {
        visibility: visible;
        }
    }  // .table.options-toggleable
}  // .dashboard